
body{
    color:#222323; 
    font-size: 14px;
    font-family:"Circular", "-apple-system", "system-ui", "Roboto", "Helvetica Neue", sans-serif

}

.color{
    color:#222323; 
    font-size: 14px

}
.logo{
    color:#FF395B;
    font-size:50px
}

.searchBar{
    padding-top: 0.375rem;
    padding-right: 0.75rem;
    padding-bottom: 0.375rem;
    padding-left: 0.75rem;
    width:300px;

    border:solid 1px #ced4da;
    border-radius: 1rem;
}
.searchicon{
    font-size:32px;
    color:#FF395B
}
.filterButton{
    border:solid 1px #ced4da;
    border-radius: 1rem;
    font-size: 12px;
    color:#222323;
}
.staricon{
    color:#FF395B;
    font-size:16px
}
#hearticon{
    color:white;
    font-size:27px;
    position:absolute;
    right:6px;
    top:6px;

}
nav.navbar{
   position:fixed;
   top:0;
   left:0;
   right:0;
   z-index:99;
   background-color:white;
}